<div class="container">
    <h1>LISTA DE TAREFAS</h1>
    <hr>
    <div class="label-input">
    <label for="task">Tarefa</label>
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" class="form">
        <div class="grupo-formulario">
            <input type="text" class="controle-formulario" id="tarefa" placeholder="Digite uma Tarefa" ngModel name="tarefa" required>
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="MensagemErro" class="texto-formulario texto-perigo">Dados Obrigatórios</small>
        </div>
        <button [disabled]="taskForm.invalid" id="addButao" type="submit" class="btn btn-primario">Adicionar</button>
    </form>
    </div>
    <hr>
    <table class="tabela">
        <thead>
            <tr>
                <th scope="col">Tarefa</th>
                <th scope="col">Completa</th>
                <th scope="col">Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray; index as i">
                <td>{{t.title}}</td>
                <td>
                    <input (change)="onCheck(i)" [checked]="t.completed" id="myCheckbox" type="checkbox">
                </td>
                <td [ngClass]="{'completed-task': t.completed}">
                    <button class="del-btn btn-perigo btn-pequeno" (click)="onDelete(i)">Deletar Tarefa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>